
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@700&display=swap');
/*INICIO EDIÇÃO GERAL*/
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    
}

::-webkit-scrollbar { 
    /* scrollbar personalizada */
    width: 10px;
    background-color:  #f8f9fa;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    width: 10px;
    height: 30px;

}

/*FIM EDIÇÃO GERAL*/

#myCarousel img{ /*CARROSEL*/
    max-width: 100%;
}

.navbar img{ /*navbar começo*/
    width: 2.5%;
}

.navbar-nav{
    margin-left: 1%;
}

.logo-nav{
    position: absolute;
}

.rodape{ /*RODAPÉ*/
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 75px;
    background-color: #f8f9fa;
}

.rodape i{
    font-size: 15px;
    color: red;
    position: absolute;
    margin-top: 25px;
    right: 50px;
    transition: 0.5s;
}

.rodape i:hover{
   padding: 2px 5px;
   border-radius: 50%;
   border: 2px solid red;
}



.rodape h2{
    font-size: 15px;
    padding: 15px;
}

/*HOME COMEÇO*/


.hometitulo h1{
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.card-deck{
    padding:  0% 5% 5% 5%;
}


/*Home fim*/


/*SOBRE COMEÇO*/

.sobre-back{ /*Pagina 1 do Sobre*/
    width: 100%;
    height: 95vh;
    text-align: center;
    justify-content: center;
    background-image: url("pic/wallpaper.png");
    
}

.sobre-back h1{ 
    padding-top: 17%;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sobre-back h2{
    color: white;
    padding-bottom: 0.5%;
    font-family: 'Montserrat', sans-serif;
}

.sobre-back i{
    font-size: 20px;
    color: red;
    padding: 5px 30px;
    background-color: white;
    border-radius: 6px;
    transition: 1s;
    cursor: pointer;
}

.sobre-back i:hover{
    color: white;
    background-color: red;
    padding: 5px 40px;
}

.sobre-pag2{ /*PAGINA 2 SOBRE*/
    height: 190vh;
    background-color: #F5F5F5;
}

 .container-sobre-conteudo{
    text-align: center;
    justify-content: center;
    display: flex;
    width: auto;
 }

 .sobre-conteudo{
    top: 75vh;
    width: 60%;
    height: auto;
    padding-bottom: 5%;
    background-color: white;
    box-shadow: 0px 17px 17px 1px rgba(0,0,0,0.29);
    position: absolute;
    z-index: 5;
 }

 .sobre-conteudo h3{
    font-size: 25;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
    padding-right: 13%;
    padding-left: 13%;
    text-align: justify;
 }

 .sobre-conteudo p{
    font-size: 15;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 13%;
    text-align: justify;
 }

 .sobre-conteudo img{
    width: 100%;
    padding: 0 13%;
 }

 /*Sobre fim*/

 /*INICIO CONTATO*/
    .contato-back{
        width: 100%;
        height: 95vh;
        text-align: center;
        justify-content: center;
        background-image: url("pic/backcontato.png");
    }
    .container-contato {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    form { /*formulario*/
        margin-top: 200px;
        margin-right: 50px;
        margin-left: 50px;
        width: 1000px;
        margin-top: 5%;
        background-color: #F5F5F5;
        padding: 50px;
        border-radius: 15px;
    }
    
    form h1 {
        text-align: center;
        font-weight: bold;
        width: 100%;
        font-size: 45px;
        letter-spacing: 1px;
        font-weight: normal;
        padding-bottom: 5px;
        margin-bottom: 25px;
        padding: none;
        color:red;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 3px solid red;
    
    }
    
    form h2 {
        letter-spacing: 1px;
        text-align: justify;
        font-size: 20px;
        margin-top: 10px;
        color: black;
        opacity: 0.7;
        
    }
    
    form input {
        align-items: center;
        display: flex;
        padding: 5px 0px;
        width: 100%;
        background-color: #F5F5F5;
        border: none;
        border-bottom: 1px solid gray;
        color: white;
        transition: .6s;
    }
    
    form input:hover {
        padding: 10px;
    
    }
    
    form input:focus {
        border-bottom: 1px solid gray !important;
    
    }
    
    form input:invalid { /*Para deixar vermelho quando o usuario digitar invalido*/
        border-bottom: 1px solid rgb(107, 2, 2);
    }
    
    form textarea {
        resize: none;
        align-items: center;
        display: flex;
        padding: 5px 0px;
        width: 100%;
        height: 50px;
        background-color: #F5F5F5;
        border: none;
        border-bottom: 1px solid gray;
        color: white;
    }
    
    form .enviar {
        justify-content: center;
        align-items: center;
        display: flex;
    
    }
    
    form button {
    
        cursor: pointer;
        border: none;
        width: 150px;
        margin-top: 5px;
        padding: 10px 3px;
        font-weight: bold;
        background-color: red;
        color: white;
        font-family: 'Eagle Light', sans-serif;
        border-radius: 15px;
        transition: .6s;
    }
    
    form button:hover {
        padding: 15px 35px;
        background-color: #F5F5F5;
        border: 2px solid  red;
        color:red;
    
    }
    
    .redes-sociais { 
        justify-content: center;
        align-items: center;
        display: inline-block;
        display: flex;
        padding: 15px 15px;
    }
    
    .redes-sociais i {
        color: red;
        padding: 0 15px;
        font-size: 15px;
    }
 /*FIM CONTATO*/

 @media (max-width: 768px) { /*RESPONSIVO PARA CELULARES EM GERAL*/

    .navbar img{
        width: 10%;
    }

    .rodape i{
        margin-top: 40px;
        right: 10px;
    }

    .sobre-back h1{
        padding-top: 50%; 
    }
    .sobre-conteudo{
    top: 75vh;
    width: 75%;
    height: auto;
    padding-bottom: 5%;

    }

    .sobre-conteudo h3{
        text-align: center;
    }

    .sobre-conteudo img{
        width: 100%;
        padding: 0 3%;
     }

     .sobre-pag2{ /*PAGINA 2 SOBRE*/
        height: 325vh;
        background-color: #F5F5F5;
    }

    
 }