
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar { 
    /* scrollbar personalizada */
    width: 10px;
    background-color:  #f8f9fa;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    width: 10px;
    height: 30px;

}

#myCarousel img{
    max-width: 100%;
}

.navbar img{
    width: 2.5%;
}


.hometitulo h1{
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 3%;
    
}

.navbar-nav{
    margin-left: 1%;
}

.logo-nav{
    position: absolute;
}

.card-deck{
    padding:  0% 5% 5% 5%;
}

.rodape{
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 75px;
    background-color: #f8f9fa;
}

.rodape i{
    font-size: 15px;
    color: red;
    position: absolute;
    margin-top: 25px;
    right: 50px;
    transition: 0.5s;
}

.rodape i:hover{
   padding: 2px 5px;
   border-radius: 50%;
   border: 2px solid red;
}



.rodape h2{
    font-size: 15px;
    padding: 15px;
}

.sobre-back{
    width: 100%;
    height: 93.5vh;
    text-align: center;
    justify-content: center;
    background-image: url("pic/wallpaper.png");
}

.sobre-back h1{
    padding-top: 17%;
    font-weight: bold;
    color: red;
    text-align: center;
}

.sobre-back h2{
    color: white;
    padding-bottom: 1%;
}

.sobre-back i{
    font-size: 20px;
    color: red;
    padding: 5px 20px;
    background-color: white;
    border-radius: 6px;
    transition: 1s;
    cursor: pointer;
}

.sobre-back i:hover{
    color: white;
    background-color: red;
    padding: 5px 30px;
}

.sobre-pag2{
    height: 100vh;
}



.fundo-sobre img{

    filter: brightness(50%);
    z-index: -5;
 }